.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.header{
    width: 100%;
    height: 80px;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( rgba(61, 61, 61) 11.2%, rgba(0, 0, 0, 0.80) 78.9%);

    & .logo{
        height: 100%;
        width: 40%;    
        background-position: center left;
        background-repeat: no-repeat;
        background-image: url(/logo_RantCPU_white.png);
        background-size: contain;
    }
}
.mainDiv{
    position: relative;
    width: 100%;
    float: left;
    padding: 1%;
    

    & .btnConnectContainer {
        float: left;
        width: 100%;
        height: auto;
        margin-bottom: 40px;

        & .btnConnect{        
            height: 40px;
            width: 140px;
            border: none;
            border-radius: 40px;
            float: right;
            cursor: pointer;
            font-weight: bold;
            font-size: 1rem;
            background-color: #8E8FFA;
            color: #fff;
            box-shadow: 0 3px 3px rgba(0,0,0,0.4)
        }
    }    

    & .rewardsContainer{
        width: 90%;
        height: auto;
        margin: 0 5%;
        display: flex;
        justify-content: space-around;

        & .reward{
            position: relative;
            width: 30%;
            height: auto;
            background-color: rgb(195,195,195,0.8);
            aspect-ratio: 9/12;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            align-items: center;

            & .icoLocked{
                position: absolute;
                top: calc(50% - 40px);
                left: calc(50% - 40px);
                color: rgb(255,40,40);
                font-size: 5rem;
            }

            & .btnRewards{
                width: 96%;
                height: 40px;
                border-radius: 6px;
                background-color: #A2C579;
                cursor: pointer;
                text-align: center;
                line-height: 40px;
                color: #fff;
                font-weight: bold;
                box-shadow: 0 3px 3px rgba(0,0,0,0.4);
                
            }
            & .btnRewards.claimed{
                background-color: #ffa500;
                cursor: default;
            }

        }

        & .rewardImage{
            background-color: #fff;
            width: 96%;
            height: 70%;
        }

        & .rewardFoundersToken{}
        & .rewardBountyBlock{}
        & .rewardDailyLogin{}
    }
}

.hide{
    display: none;
}

/* Tablet and Smaller Desktop */
@media (max-width: 1120px) {
    .mainDiv {
        & .rewardsContainer{
            flex-direction: column;
            align-items: center;

            & .reward{
                width: 60%;
                margin-bottom: 20px;
            }
        }
    } 
}

@media (max-width: 768px) {
     
}